// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as XcelsiorApi from "../../../index.js";

export declare namespace MarketplaceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Rig listings, browsing, and marketplace billing.
 */
export class MarketplaceClient {
    protected readonly _options: NormalizedClientOptions<MarketplaceClient.Options>;

    constructor(options: MarketplaceClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Search marketplace listings with filters and sorting.
     *
     * @param {XcelsiorApi.ApiMarketplaceSearchMarketplaceSearchGetRequest} request
     * @param {MarketplaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.marketplace.apiMarketplaceSearch()
     */
    public apiMarketplaceSearch(
        request: XcelsiorApi.ApiMarketplaceSearchMarketplaceSearchGetRequest = {},
        requestOptions?: MarketplaceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiMarketplaceSearch(request, requestOptions));
    }

    private async __apiMarketplaceSearch(
        request: XcelsiorApi.ApiMarketplaceSearchMarketplaceSearchGetRequest = {},
        requestOptions?: MarketplaceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const {
            gpu_model: gpuModel,
            min_vram: minVram,
            max_price: maxPrice,
            province,
            country,
            min_reputation: minReputation,
            sort_by: sortBy,
            limit,
        } = request;
        const _queryParams: Record<string, unknown> = {
            gpu_model: gpuModel,
            min_vram: minVram,
            max_price: maxPrice,
            province,
            country,
            min_reputation: minReputation,
            sort_by: sortBy,
            limit,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "marketplace/search",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/marketplace/search");
    }

    /**
     * List a rig on the marketplace.
     *
     * @param {XcelsiorApi.RigListing} request
     * @param {MarketplaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.marketplace.apiListRig({
     *         host_id: "host_id",
     *         gpu_model: "gpu_model",
     *         vram_gb: 1.1,
     *         price_per_hour: 1.1
     *     })
     */
    public apiListRig(
        request: XcelsiorApi.RigListing,
        requestOptions?: MarketplaceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiListRig(request, requestOptions));
    }

    private async __apiListRig(
        request: XcelsiorApi.RigListing,
        requestOptions?: MarketplaceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "marketplace/list",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/marketplace/list");
    }

    /**
     * Remove a rig from the marketplace.
     *
     * @param {XcelsiorApi.ApiUnlistRigMarketplaceHostIdDeleteRequest} request
     * @param {MarketplaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.marketplace.apiUnlistRig({
     *         host_id: "host_id"
     *     })
     */
    public apiUnlistRig(
        request: XcelsiorApi.ApiUnlistRigMarketplaceHostIdDeleteRequest,
        requestOptions?: MarketplaceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiUnlistRig(request, requestOptions));
    }

    private async __apiUnlistRig(
        request: XcelsiorApi.ApiUnlistRigMarketplaceHostIdDeleteRequest,
        requestOptions?: MarketplaceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { host_id: hostId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                `marketplace/${core.url.encodePathParam(hostId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/marketplace/{host_id}");
    }

    /**
     * Browse marketplace listings.
     *
     * @param {XcelsiorApi.ApiGetMarketplaceMarketplaceGetRequest} request
     * @param {MarketplaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.marketplace.apiGetMarketplace()
     */
    public apiGetMarketplace(
        request: XcelsiorApi.ApiGetMarketplaceMarketplaceGetRequest = {},
        requestOptions?: MarketplaceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiGetMarketplace(request, requestOptions));
    }

    private async __apiGetMarketplace(
        request: XcelsiorApi.ApiGetMarketplaceMarketplaceGetRequest = {},
        requestOptions?: MarketplaceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { active_only: activeOnly } = request;
        const _queryParams: Record<string, unknown> = {
            active_only: activeOnly,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "marketplace",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/marketplace");
    }

    /**
     * Bill a marketplace job — split between host and platform.
     *
     * @param {XcelsiorApi.ApiMarketplaceBillMarketplaceBillJobIdPostRequest} request
     * @param {MarketplaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.marketplace.apiMarketplaceBill({
     *         job_id: "job_id"
     *     })
     */
    public apiMarketplaceBill(
        request: XcelsiorApi.ApiMarketplaceBillMarketplaceBillJobIdPostRequest,
        requestOptions?: MarketplaceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiMarketplaceBill(request, requestOptions));
    }

    private async __apiMarketplaceBill(
        request: XcelsiorApi.ApiMarketplaceBillMarketplaceBillJobIdPostRequest,
        requestOptions?: MarketplaceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { job_id: jobId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                `marketplace/bill/${core.url.encodePathParam(jobId)}`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/marketplace/bill/{job_id}");
    }

    /**
     * Marketplace aggregate stats.
     *
     * @param {MarketplaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.marketplace.apiMarketplaceStats()
     */
    public apiMarketplaceStats(requestOptions?: MarketplaceClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiMarketplaceStats(requestOptions));
    }

    private async __apiMarketplaceStats(
        requestOptions?: MarketplaceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "marketplace/stats",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.XcelsiorApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/marketplace/stats");
    }
}
