// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as XcelsiorApi from "../../../index.js";

export declare namespace ComplianceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Province compliance matrix, tax rates, Quebec PIA checks.
 */
export class ComplianceClient {
    protected readonly _options: NormalizedClientOptions<ComplianceClient.Options>;

    constructor(options: ComplianceClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Check platform-wide GST/HST small-supplier threshold status.
     *
     * Under the Excise Tax Act, a distribution platform operator **must**
     * register for GST/HST once total taxable revenue exceeds $30,000 CAD
     * over any four consecutive calendar quarters.
     *
     * Returns:
     * - `exceeded`: whether the $30k threshold is passed
     * - `total_revenue_cad`: estimated revenue from all billing
     * - `threshold_cad`: the $30,000 statutory limit
     * - `quarters_assessed`: number of quarters with data
     *
     * @param {ComplianceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.compliance.apiGstThresholdStatus()
     */
    public apiGstThresholdStatus(requestOptions?: ComplianceClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiGstThresholdStatus(requestOptions));
    }

    private async __apiGstThresholdStatus(
        requestOptions?: ComplianceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "api/billing/gst-threshold",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.XcelsiorApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/billing/gst-threshold");
    }

    /**
     * Check whether a specific provider has exceeded the $30,000 GST/HST
     * small-supplier threshold based on their historical payouts.
     *
     * Used by providers to determine if they need to independently register
     * for GST/HST. The simplified regime is recommended for non-resident
     * providers serving Canadians.
     *
     * @param {XcelsiorApi.ApiProviderGstThresholdApiBillingGstThresholdProviderIdGetRequest} request
     * @param {ComplianceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.compliance.apiProviderGstThreshold({
     *         provider_id: "provider_id"
     *     })
     */
    public apiProviderGstThreshold(
        request: XcelsiorApi.ApiProviderGstThresholdApiBillingGstThresholdProviderIdGetRequest,
        requestOptions?: ComplianceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiProviderGstThreshold(request, requestOptions));
    }

    private async __apiProviderGstThreshold(
        request: XcelsiorApi.ApiProviderGstThresholdApiBillingGstThresholdProviderIdGetRequest,
        requestOptions?: ComplianceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { provider_id: providerId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                `api/billing/gst-threshold/${core.url.encodePathParam(providerId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/billing/gst-threshold/{provider_id}",
        );
    }

    /**
     * Province-specific compliance matrix for scheduling guidance.
     *
     * @param {ComplianceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.compliance.apiComplianceProvinces()
     */
    public apiComplianceProvinces(requestOptions?: ComplianceClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiComplianceProvinces(requestOptions));
    }

    private async __apiComplianceProvinces(
        requestOptions?: ComplianceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "api/compliance/provinces",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.XcelsiorApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/compliance/provinces");
    }

    /**
     * Canadian GST/HST/PST rates by province for billing.
     *
     * @param {ComplianceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.compliance.apiTaxRates()
     */
    public apiTaxRates(requestOptions?: ComplianceClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiTaxRates(requestOptions));
    }

    private async __apiTaxRates(
        requestOptions?: ComplianceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "api/compliance/tax-rates",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.XcelsiorApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/compliance/tax-rates");
    }

    /**
     * Full trust tier requirements matrix.
     *
     * @param {ComplianceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.compliance.apiTrustTierRequirements()
     */
    public apiTrustTierRequirements(
        requestOptions?: ComplianceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiTrustTierRequirements(requestOptions));
    }

    private async __apiTrustTierRequirements(
        requestOptions?: ComplianceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "api/compliance/trust-tier-requirements",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.XcelsiorApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/compliance/trust-tier-requirements",
        );
    }

    /**
     * Check if Québec Law 25 PIA is required for cross-border transfer.
     *
     * @param {XcelsiorApi.PiaCheckRequest} request
     * @param {ComplianceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.compliance.apiQuebecPiaCheck()
     */
    public apiQuebecPiaCheck(
        request: XcelsiorApi.PiaCheckRequest = {},
        requestOptions?: ComplianceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiQuebecPiaCheck(request, requestOptions));
    }

    private async __apiQuebecPiaCheck(
        request: XcelsiorApi.PiaCheckRequest = {},
        requestOptions?: ComplianceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "api/compliance/quebec-pia-check",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/compliance/quebec-pia-check",
        );
    }
}
