{
  "openapi": "3.1.0",
  "info": {
    "title": "Xcelsior",
    "description": "Distributed GPU orchestration platform for AI/ML workloads. Canadian-first data sovereignty (PIPEDA/Law 25), automated trust scoring, Stripe Connect marketplace billing, and real-time GPU telemetry.\n\n**Authentication**: Bearer token via `Authorization: Bearer <token>` header.\n\n**Regions**: Canada-first with province-level filtering (ON, QC, BC, AB, etc.).\n\n**SDK**: Generate idiomatic Python/TypeScript SDKs with [Fern](https://buildwithfern.com).\n\n**LLM Integration**: See `/llms.txt` for AI agent\u2013optimized documentation.",
    "contact": {
      "name": "Xcelsior",
      "url": "https://xcelsior.ca/",
      "email": "admin@xcelsior.ca"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "2.2.0"
  },
  "servers": [
    {
      "url": "https://xcelsior.ca",
      "description": "Production"
    },
    {
      "url": "http://localhost:9500",
      "description": "Development"
    }
  ],
  "paths": {
    "/host": {
      "put": {
        "tags": [
          "Hosts"
        ],
        "summary": "Api Register Host",
        "description": "Register or update a host with strict admission gating.\n\nPer REPORT_FEATURE_FINAL.md \u00a762 and REPORT_FEATURE_2.md \u00a737:\n- Hosts must pass node admission (version gating) before accepting work\n- Country/province recorded for jurisdiction-aware scheduling\n- Hosts register as 'pending' until agent completes benchmark + admission\n- If versions are provided inline, admission is checked immediately",
        "operationId": "api_register_host_host_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HostIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/hosts": {
      "get": {
        "tags": [
          "Hosts"
        ],
        "summary": "Api List Hosts",
        "description": "List all hosts.",
        "operationId": "api_list_hosts_hosts_get",
        "parameters": [
          {
            "name": "active_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Active Only"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/host/{host_id}": {
      "delete": {
        "tags": [
          "Hosts"
        ],
        "summary": "Api Remove Host",
        "description": "Remove a host.",
        "operationId": "api_remove_host_host__host_id__delete",
        "parameters": [
          {
            "name": "host_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Host Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/hosts/check": {
      "post": {
        "tags": [
          "Hosts"
        ],
        "summary": "Api Check Hosts",
        "description": "Ping all hosts and update status.",
        "operationId": "api_check_hosts_hosts_check_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/job": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Api Submit Job",
        "description": "Submit a job to the queue. Tier overrides priority.\n\nMulti-GPU: Set num_gpus > 1 for multi-GPU jobs.\nNFS: Optionally specify nfs_server + nfs_path for shared storage.",
        "operationId": "api_submit_job_job_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Api List Jobs",
        "description": "List jobs. Optional filter by status.",
        "operationId": "api_list_jobs_jobs_get",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/job/{job_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Api Get Job",
        "description": "Get a specific job by ID.",
        "operationId": "api_get_job_job__job_id__get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Jobs"
        ],
        "summary": "Api Update Job",
        "description": "Update a job's status.",
        "operationId": "api_update_job_job__job_id__patch",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/queue/process": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Api Process Queue",
        "description": "Process the job queue \u2014 assign jobs to hosts.",
        "operationId": "api_process_queue_queue_process_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/failover": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Api Failover",
        "description": "Run a full failover cycle: check hosts, requeue orphaned jobs, reassign.",
        "operationId": "api_failover_failover_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/job/{job_id}/requeue": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Api Requeue Job",
        "description": "Manually requeue a failed or stuck job.",
        "operationId": "api_requeue_job_job__job_id__requeue_post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/logs/stream": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Api Job Log Stream",
        "description": "Stream real-time logs for a specific job via Server-Sent Events.\n\nConnect with `EventSource('/jobs/{job_id}/logs/stream')` in the browser\nor `curl -N` from the CLI. Replays buffered log lines on connect, then\nlive-tails new log entries until the client disconnects or the job completes.\n\nEvents emitted:\n- `job_log` \u2014 individual log line (data: {job_id, timestamp, line, level})\n- `job_status` \u2014 status change (data: {job_id, status})\n- `connected` \u2014 initial handshake (data: {job_id, status: \"streaming\"})",
        "operationId": "api_job_log_stream_jobs__job_id__logs_stream_get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/logs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Api Job Logs",
        "description": "Get buffered log lines for a job (non-streaming).\n\nReturns the last `limit` log lines from the in-memory buffer.\nFor real-time streaming, use `/jobs/{job_id}/logs/stream` (SSE).",
        "operationId": "api_job_logs_jobs__job_id__logs_get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/bill/{job_id}": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Api Bill Job",
        "description": "Bill a specific completed job.",
        "operationId": "api_bill_job_billing_bill__job_id__post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/bill-all": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Api Bill All",
        "description": "Bill all unbilled completed jobs.",
        "operationId": "api_bill_all_billing_bill_all_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/billing": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Api Billing",
        "description": "Get all billing records and total revenue.",
        "operationId": "api_billing_billing_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/dashboard": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Dashboard",
        "description": "The dashboard. HTML + JS. No React. No npm. No build step.",
        "operationId": "dashboard_dashboard_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/legacy/{path}": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Legacy Dashboard",
        "description": "Legacy dashboard preserved at /legacy while Next.js serves /.",
        "operationId": "legacy_dashboard_legacy__path__get",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/legacy": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Legacy Dashboard",
        "description": "Legacy dashboard preserved at /legacy while Next.js serves /.",
        "operationId": "legacy_dashboard_legacy_get",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/alerts/config": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Get Alert Config",
        "description": "Get current alert config (passwords redacted).",
        "operationId": "api_get_alert_config_alerts_config_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Set Alert Config",
        "description": "Update alert config at runtime.",
        "operationId": "api_set_alert_config_alerts_config_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ssh/keygen": {
      "post": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Generate Ssh Key",
        "description": "Generate an Ed25519 SSH keypair for host access.",
        "operationId": "api_generate_ssh_key_ssh_keygen_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/ssh/pubkey": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Get Pubkey",
        "description": "Get the public key to add to hosts' authorized_keys.",
        "operationId": "api_get_pubkey_api_ssh_pubkey_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/ssh/pubkey": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Get Pubkey",
        "description": "Get the public key to add to hosts' authorized_keys.",
        "operationId": "api_get_pubkey_ssh_pubkey_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/token/generate": {
      "post": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Generate Token",
        "description": "Generate a secure random API token. User must set it in .env themselves.",
        "operationId": "api_generate_token_token_generate_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/device": {
      "post": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Auth Device Code",
        "description": "Initiate OAuth2 device authorization flow (RFC 8628).\n\nReturns a device_code (for polling) and a user_code (for the user to enter\nin the browser at the verification_uri).",
        "operationId": "api_auth_device_code_api_auth_device_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/token": {
      "post": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Auth Device Token",
        "description": "Poll for device authorization result (RFC 8628 \u00a73.4).\n\nReturns:\n- 200 + access_token when authorized\n- 428 \"authorization_pending\" while waiting\n- 410 \"expired_token\" if timed out",
        "operationId": "api_auth_device_token_api_auth_token_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/verify": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Auth Verify Page",
        "description": "Browser-facing page where users enter their device code.",
        "operationId": "api_auth_verify_page_api_auth_verify_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Auth Verify Device",
        "description": "Verify a device code by entering the user_code shown in the CLI.\n\nCalled from the web dashboard after the user logs in and enters their code.\nGenerates a bearer token and marks the device flow as authorized.",
        "operationId": "api_auth_verify_device_api_auth_verify_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceVerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Register",
        "description": "Register a new user with email and password.\n\nCreates an account and returns a session token for immediate use.\nPassword is hashed with PBKDF2-HMAC-SHA256 + random 16-byte salt.",
        "operationId": "api_auth_register_api_auth_register_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Login",
        "description": "Authenticate with email and password.\n\nReturns a Bearer token valid for 30 days.",
        "operationId": "api_auth_login_api_auth_login_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/oauth/{provider}": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Oauth Initiate",
        "description": "Initiate OAuth flow \u2014 returns the provider's authorization URL.\n\nThe frontend should redirect the user to the returned URL.",
        "operationId": "api_auth_oauth_initiate_api_auth_oauth__provider__post",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Provider"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/oauth/{provider}/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Oauth Callback",
        "description": "OAuth callback \u2014 exchanges authorization code for user profile, creates session,\nand redirects to dashboard.",
        "operationId": "api_auth_oauth_callback_api_auth_oauth__provider__callback_get",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Provider"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Me",
        "description": "Get the currently authenticated user's profile.\n\nRequires Authorization: Bearer <token> header.",
        "operationId": "api_auth_me_api_auth_me_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Delete Account",
        "description": "Delete the current user's account.",
        "operationId": "api_auth_delete_account_api_auth_me_delete",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Update Profile",
        "description": "Update the current user's profile fields.",
        "operationId": "api_auth_update_profile_api_auth_me_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Refresh",
        "description": "Refresh an existing session token.\n\nReturns a new token with a fresh 30-day expiry.",
        "operationId": "api_auth_refresh_api_auth_refresh_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Logout",
        "description": "Logout \u2014 invalidate session and clear cookie.",
        "operationId": "api_auth_logout_api_auth_logout_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/keys/generate": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Generate Api Key",
        "description": "Generate a named API key for the authenticated user.\n\nAPI keys can be used as Bearer tokens for programmatic access.\nScope: 'full-access' (default) or 'read-only' (GET requests only).",
        "operationId": "api_generate_api_key_api_keys_generate_post",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "default",
              "title": "Name"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "full-access",
              "title": "Scope"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/keys": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Api List Keys",
        "description": "List all API keys for the authenticated user (keys are redacted).",
        "operationId": "api_list_keys_api_keys_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/keys/{key_preview}": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Revoke Key",
        "description": "Revoke an API key by its preview string.",
        "operationId": "api_revoke_key_api_keys__key_preview__delete",
        "parameters": [
          {
            "name": "key_preview",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key Preview"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password-reset": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Password Reset",
        "description": "Initiate a password reset. Returns a one-time reset token (dev mode).",
        "operationId": "api_auth_password_reset_api_auth_password_reset_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password-reset/confirm": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Password Reset Confirm",
        "description": "Confirm password reset with token and set new password.",
        "operationId": "api_auth_password_reset_confirm_api_auth_password_reset_confirm_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetConfirm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/change-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Api Auth Change Password",
        "description": "Change password for the authenticated user.",
        "operationId": "api_auth_change_password_api_auth_change_password_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams": {
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Api Create Team",
        "description": "Create a new team/organization. Creator becomes team admin.",
        "operationId": "api_create_team_api_teams_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/me": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Api My Teams",
        "description": "Get teams the current user belongs to.",
        "operationId": "api_my_teams_api_teams_me_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/teams/{team_id}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Api Get Team",
        "description": "Get team details including members.",
        "operationId": "api_get_team_api_teams__team_id__get",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Team Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "summary": "Api Delete Team",
        "description": "Delete a team. Only the team owner can delete it.",
        "operationId": "api_delete_team_api_teams__team_id__delete",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Team Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{team_id}/members": {
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Api Add Team Member",
        "description": "Add a member to a team. Only team admins can add members.",
        "operationId": "api_add_team_member_api_teams__team_id__members_post",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Team Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTeamMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{team_id}/members/{email}": {
      "delete": {
        "tags": [
          "Teams"
        ],
        "summary": "Api Remove Team Member",
        "description": "Remove a member from a team. Admins can remove anyone; members can leave.",
        "operationId": "api_remove_team_member_api_teams__team_id__members__email__delete",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Team Id"
            }
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/search": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Api Marketplace Search",
        "description": "Search marketplace listings with filters and sorting.",
        "operationId": "api_marketplace_search_marketplace_search_get",
        "parameters": [
          {
            "name": "gpu_model",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Gpu Model"
            }
          },
          {
            "name": "min_vram",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Vram"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Price"
            }
          },
          {
            "name": "province",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Province"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Country"
            }
          },
          {
            "name": "min_reputation",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Reputation"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "price",
              "title": "Sort By"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/slurm/submit": {
      "post": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Slurm Submit",
        "description": "Submit an Xcelsior job to a Slurm cluster (HPC bridge).\n\nTranslates the job to an sbatch script and submits. Set dry_run=true\nto see the generated script without submitting.",
        "operationId": "api_slurm_submit_api_slurm_submit_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlurmSubmitIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/slurm/status/{slurm_job_id}": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Slurm Status",
        "description": "Check the status of a Slurm job.",
        "operationId": "api_slurm_status_api_slurm_status__slurm_job_id__get",
        "parameters": [
          {
            "name": "slurm_job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Slurm Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/slurm/{slurm_job_id}": {
      "delete": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Slurm Cancel",
        "description": "Cancel a Slurm job.",
        "operationId": "api_slurm_cancel_api_slurm__slurm_job_id__delete",
        "parameters": [
          {
            "name": "slurm_job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Slurm Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/slurm/profiles": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Slurm Profiles",
        "description": "List available Slurm cluster profiles (Nibi, Graham, Narval, generic).",
        "operationId": "api_slurm_profiles_api_slurm_profiles_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/nfs/config": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Nfs Config",
        "description": "Get current NFS configuration from environment.",
        "operationId": "api_nfs_config_api_nfs_config_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/tiers": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Api List Tiers",
        "description": "List all priority tiers with their multipliers.",
        "operationId": "api_list_tiers_tiers_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/build": {
      "post": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Build Image",
        "description": "Build a Docker image for a model. Optionally quantize and push.",
        "operationId": "api_build_image_build_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/builds": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api List Builds",
        "description": "List all local build directories.",
        "operationId": "api_list_builds_builds_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/build/{model}/dockerfile": {
      "post": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Api Generate Dockerfile",
        "description": "Preview the generated Dockerfile without building.",
        "operationId": "api_generate_dockerfile_build__model__dockerfile_post",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model"
            }
          },
          {
            "name": "base_image",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "python:3.11-slim",
              "title": "Base Image"
            }
          },
          {
            "name": "quantize",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Quantize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/list": {
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Api List Rig",
        "description": "List a rig on the marketplace.",
        "operationId": "api_list_rig_marketplace_list_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RigListing"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/{host_id}": {
      "delete": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Api Unlist Rig",
        "description": "Remove a rig from the marketplace.",
        "operationId": "api_unlist_rig_marketplace__host_id__delete",
        "parameters": [
          {
            "name": "host_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Host Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Api Get Marketplace",
        "description": "Browse marketplace listings.",
        "operationId": "api_get_marketplace_marketplace_get",
        "parameters": [
          {
            "name": "active_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Active Only"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/bill/{job_id}": {
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Api Marketplace Bill",
        "description": "Bill a marketplace job \u2014 split between host and platform.",
        "operationId": "api_marketplace_bill_marketplace_bill__job_id__post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/stats": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Api Marketplace Stats",
        "description": "Marketplace aggregate stats.",
        "operationId": "api_marketplace_stats_marketplace_stats_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/canada": {
      "get": {
        "tags": [
          "Jurisdiction"
        ],
        "summary": "Api Canada Status",
        "description": "Check if Canada-only mode is active.",
        "operationId": "api_canada_status_canada_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Jurisdiction"
        ],
        "summary": "Api Set Canada",
        "description": "Toggle Canada-only mode.",
        "operationId": "api_set_canada_canada_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CanadaToggle"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/hosts/ca": {
      "get": {
        "tags": [
          "Jurisdiction"
        ],
        "summary": "Api List Canadian Hosts",
        "description": "List only Canadian hosts.",
        "operationId": "api_list_canadian_hosts_hosts_ca_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/queue/process/ca": {
      "post": {
        "tags": [
          "Jurisdiction"
        ],
        "summary": "Api Process Queue Ca",
        "description": "Process queue with Canada-only hosts.",
        "operationId": "api_process_queue_ca_queue_process_ca_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/autoscale/pool": {
      "get": {
        "tags": [
          "Autoscale"
        ],
        "summary": "Api Get Pool",
        "description": "List the autoscale pool.",
        "operationId": "api_get_pool_autoscale_pool_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Autoscale"
        ],
        "summary": "Api Add To Pool",
        "description": "Add a host to the autoscale pool.",
        "operationId": "api_add_to_pool_autoscale_pool_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PoolHost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/autoscale/pool/{host_id}": {
      "delete": {
        "tags": [
          "Autoscale"
        ],
        "summary": "Api Remove From Pool",
        "description": "Remove a host from the autoscale pool.",
        "operationId": "api_remove_from_pool_autoscale_pool__host_id__delete",
        "parameters": [
          {
            "name": "host_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Host Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/autoscale/cycle": {
      "post": {
        "tags": [
          "Autoscale"
        ],
        "summary": "Api Autoscale Cycle",
        "description": "Run a full autoscale cycle: scale up, process queue, scale down.",
        "operationId": "api_autoscale_cycle_autoscale_cycle_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/autoscale/up": {
      "post": {
        "tags": [
          "Autoscale"
        ],
        "summary": "Api Autoscale Up",
        "description": "Scale up: provision hosts for queued jobs.",
        "operationId": "api_autoscale_up_autoscale_up_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/autoscale/down": {
      "post": {
        "tags": [
          "Autoscale"
        ],
        "summary": "Api Autoscale Down",
        "description": "Scale down: deprovision idle autoscaled hosts.",
        "operationId": "api_autoscale_down_autoscale_down_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/stream": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Sse Stream",
        "description": "Server-Sent Events stream for real-time dashboard updates.",
        "operationId": "sse_stream_api_stream_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/agent/work/{host_id}": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Api Agent Work",
        "description": "Pull pending work for an agent. Returns assigned jobs.",
        "operationId": "api_agent_work_agent_work__host_id__get",
        "parameters": [
          {
            "name": "host_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Host Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent/preempt/{host_id}": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Api Agent Preempt",
        "description": "Check if any jobs on this host should be preempted.",
        "operationId": "api_agent_preempt_agent_preempt__host_id__get",
        "parameters": [
          {
            "name": "host_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Host Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent/preempt/{host_id}/{job_id}": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Api Schedule Preemption",
        "description": "Schedule a job for preemption on a host.",
        "operationId": "api_schedule_preemption_agent_preempt__host_id___job_id__post",
        "parameters": [
          {
            "name": "host_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Host Id"
            }
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent/versions": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Api Agent Versions",
        "description": "Receive and validate node component versions for admission control.\n\nWhen a host passes admission, updates the host record to admitted=True\nand status='active'. This is the gate that allows hosts to receive work.\nPer REPORT_FEATURE_FINAL.md \u00a762 and REPORT_FEATURE_1.md:\n- CUDA >= 12.0, runc patched, NVIDIA Container Toolkit patched\n- Hosts that fail stay in 'pending' status",
        "operationId": "api_agent_versions_agent_versions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VersionReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent/mining-alert": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Api Mining Alert",
        "description": "Receive mining detection alert from an agent.",
        "operationId": "api_mining_alert_agent_mining_alert_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MiningAlert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent/benchmark": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Api Agent Benchmark",
        "description": "Receive compute benchmark results from an agent.",
        "operationId": "api_agent_benchmark_agent_benchmark_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BenchmarkReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent/lease/claim": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Api Agent Lease Claim",
        "description": "Agent claims a lease for an assigned job.\n\nThis transitions the job from ASSIGNED \u2192 LEASED and starts\nthe lease clock. The agent must renew before expiry.",
        "operationId": "api_agent_lease_claim_agent_lease_claim_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaseClaimRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent/lease/renew": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Api Agent Lease Renew",
        "description": "Agent renews its lease on a job. Must be called before expiry.",
        "operationId": "api_agent_lease_renew_agent_lease_renew_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaseRenewRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent/lease/release": {
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Api Agent Lease Release",
        "description": "Agent releases its lease (job completed/failed/preempted).",
        "operationId": "api_agent_lease_release_agent_lease_release_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaseReleaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent/popular-images": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Api Agent Popular Images",
        "description": "Return popular container images for agent pre-pulling.\n\nAgents call this during idle time to pre-cache frequently-used images,\nreducing cold-start latency for future jobs.",
        "operationId": "api_agent_popular_images_agent_popular_images_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/spot-prices": {
      "get": {
        "tags": [
          "Spot Pricing"
        ],
        "summary": "Api Spot Prices",
        "description": "Get current spot prices for all GPU models.",
        "operationId": "api_spot_prices_spot_prices_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/spot-prices/update": {
      "post": {
        "tags": [
          "Spot Pricing"
        ],
        "summary": "Api Update Spot Prices",
        "description": "Trigger spot price recalculation.",
        "operationId": "api_update_spot_prices_spot_prices_update_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/spot/job": {
      "post": {
        "tags": [
          "Spot Pricing"
        ],
        "summary": "Api Submit Spot Job",
        "description": "Submit a spot job with a maximum bid price.",
        "operationId": "api_submit_spot_job_spot_job_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpotJobIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/spot/preemption-cycle": {
      "post": {
        "tags": [
          "Spot Pricing"
        ],
        "summary": "Api Preemption Cycle",
        "description": "Run a preemption cycle \u2014 reclaim resources from underbidding spot jobs.",
        "operationId": "api_preemption_cycle_spot_preemption_cycle_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/compute-score/{host_id}": {
      "get": {
        "tags": [
          "Hosts"
        ],
        "summary": "Api Get Compute Score",
        "description": "Get the compute score (XCU) for a host.",
        "operationId": "api_get_compute_score_compute_score__host_id__get",
        "parameters": [
          {
            "name": "host_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Host Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/compute-scores": {
      "get": {
        "tags": [
          "Hosts"
        ],
        "summary": "Api List Compute Scores",
        "description": "List compute scores for all hosts.",
        "operationId": "api_list_compute_scores_compute_scores_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Healthz",
        "operationId": "healthz_healthz_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Readyz",
        "operationId": "readyz_readyz_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "tags": [
          "Infrastructure"
        ],
        "summary": "Metrics",
        "operationId": "metrics_metrics_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/events/{entity_type}/{entity_id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Api Get Events",
        "description": "Get event history for a job or host.",
        "operationId": "api_get_events_api_events__entity_type___entity_id__get",
        "parameters": [
          {
            "name": "entity_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Entity Type"
            }
          },
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Entity Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/events/leases/{job_id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Api Get Lease",
        "description": "Get active lease for a job.",
        "operationId": "api_get_lease_api_events_leases__job_id__get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/verify/{host_id}": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Api Verify Host",
        "description": "Run verification checks on a host.",
        "operationId": "api_verify_host_api_verify__host_id__post",
        "parameters": [
          {
            "name": "host_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Host Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyHostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/verify/{host_id}/status": {
      "get": {
        "tags": [
          "Verification"
        ],
        "summary": "Api Verification Status",
        "description": "Get current verification status for a host.",
        "operationId": "api_verification_status_api_verify__host_id__status_get",
        "parameters": [
          {
            "name": "host_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Host Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/verified-hosts": {
      "get": {
        "tags": [
          "Verification"
        ],
        "summary": "Api Verified Hosts",
        "description": "List all verified hosts with full verification details.\n\nReturns host_id, state, gpu_model, country, last_check, overall_score\nfor every host that has any verification record (not just 'verified').",
        "operationId": "api_verified_hosts_api_verified_hosts_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/verify/{host_id}/approve": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Api Admin Approve Host",
        "description": "Admin manually approves a host, overriding automated checks.\n\nSets host verification state to 'verified' regardless of check results.\nUseful when an admin has physically inspected hardware or reviewed logs.",
        "operationId": "api_admin_approve_host_api_verify__host_id__approve_post",
        "parameters": [
          {
            "name": "host_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Host Id"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Notes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/verify/{host_id}/reject": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Api Admin Reject Host",
        "description": "Admin manually rejects/deverifies a host.\n\nSets host verification state to 'deverified' so it cannot receive jobs.",
        "operationId": "api_admin_reject_host_api_verify__host_id__reject_post",
        "parameters": [
          {
            "name": "host_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Host Id"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "Admin rejection",
              "title": "Reason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/jurisdiction/hosts": {
      "post": {
        "tags": [
          "Jurisdiction"
        ],
        "summary": "Api Jurisdiction Hosts",
        "description": "Filter hosts by jurisdiction constraints.",
        "operationId": "api_jurisdiction_hosts_api_jurisdiction_hosts_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JurisdictionFilterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/jurisdiction/residency-trace/{job_id}": {
      "get": {
        "tags": [
          "Jurisdiction"
        ],
        "summary": "Api Residency Trace",
        "description": "Generate a residency trace for a job (compliance artifact).",
        "operationId": "api_residency_trace_api_jurisdiction_residency_trace__job_id__get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/trust-tiers": {
      "get": {
        "tags": [
          "Jurisdiction"
        ],
        "summary": "Api Trust Tiers",
        "description": "List available trust tiers and their requirements.",
        "operationId": "api_trust_tiers_api_trust_tiers_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/billing/wallet/{customer_id}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Api Get Wallet",
        "description": "Get credit wallet balance and status.",
        "operationId": "api_get_wallet_api_billing_wallet__customer_id__get",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Customer Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/payment-intent": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Api Create Payment Intent",
        "description": "Create a Stripe PaymentIntent for depositing compute credits.\n\nReturns client_secret for front-end Stripe Elements confirmation.\nOn payment_intent.succeeded webhook the wallet is credited automatically.",
[...]
