// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as XcelsiorApi from "../../../index.js";

export declare namespace VerificationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Automated hardware attestation: GPU identity, CUDA, thermals, network.
 */
export class VerificationClient {
    protected readonly _options: NormalizedClientOptions<VerificationClient.Options>;

    constructor(options: VerificationClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Run verification checks on a host.
     *
     * @param {XcelsiorApi.VerifyHostRequest} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.verification.apiVerifyHost({
     *         host_id: "host_id",
     *         host_id: "host_id"
     *     })
     */
    public apiVerifyHost(
        request: XcelsiorApi.VerifyHostRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiVerifyHost(request, requestOptions));
    }

    private async __apiVerifyHost(
        request: XcelsiorApi.VerifyHostRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { host_id: hostId, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                `api/verify/${core.url.encodePathParam(hostId)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/verify/{host_id}");
    }

    /**
     * Get current verification status for a host.
     *
     * @param {XcelsiorApi.ApiVerificationStatusApiVerifyHostIdStatusGetRequest} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.verification.apiVerificationStatus({
     *         host_id: "host_id"
     *     })
     */
    public apiVerificationStatus(
        request: XcelsiorApi.ApiVerificationStatusApiVerifyHostIdStatusGetRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiVerificationStatus(request, requestOptions));
    }

    private async __apiVerificationStatus(
        request: XcelsiorApi.ApiVerificationStatusApiVerifyHostIdStatusGetRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { host_id: hostId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                `api/verify/${core.url.encodePathParam(hostId)}/status`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/verify/{host_id}/status");
    }

    /**
     * List all verified hosts with full verification details.
     *
     * Returns host_id, state, gpu_model, country, last_check, overall_score
     * for every host that has any verification record (not just 'verified').
     *
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.verification.apiVerifiedHosts()
     */
    public apiVerifiedHosts(requestOptions?: VerificationClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiVerifiedHosts(requestOptions));
    }

    private async __apiVerifiedHosts(
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "api/verified-hosts",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.XcelsiorApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/verified-hosts");
    }

    /**
     * Admin manually approves a host, overriding automated checks.
     *
     * Sets host verification state to 'verified' regardless of check results.
     * Useful when an admin has physically inspected hardware or reviewed logs.
     *
     * @param {XcelsiorApi.ApiAdminApproveHostApiVerifyHostIdApprovePostRequest} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.verification.apiAdminApproveHost({
     *         host_id: "host_id"
     *     })
     */
    public apiAdminApproveHost(
        request: XcelsiorApi.ApiAdminApproveHostApiVerifyHostIdApprovePostRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiAdminApproveHost(request, requestOptions));
    }

    private async __apiAdminApproveHost(
        request: XcelsiorApi.ApiAdminApproveHostApiVerifyHostIdApprovePostRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { host_id: hostId, notes } = request;
        const _queryParams: Record<string, unknown> = {
            notes,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                `api/verify/${core.url.encodePathParam(hostId)}/approve`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/verify/{host_id}/approve",
        );
    }

    /**
     * Admin manually rejects/deverifies a host.
     *
     * Sets host verification state to 'deverified' so it cannot receive jobs.
     *
     * @param {XcelsiorApi.ApiAdminRejectHostApiVerifyHostIdRejectPostRequest} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.verification.apiAdminRejectHost({
     *         host_id: "host_id"
     *     })
     */
    public apiAdminRejectHost(
        request: XcelsiorApi.ApiAdminRejectHostApiVerifyHostIdRejectPostRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiAdminRejectHost(request, requestOptions));
    }

    private async __apiAdminRejectHost(
        request: XcelsiorApi.ApiAdminRejectHostApiVerifyHostIdRejectPostRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { host_id: hostId, reason } = request;
        const _queryParams: Record<string, unknown> = {
            reason,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                `api/verify/${core.url.encodePathParam(hostId)}/reject`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/verify/{host_id}/reject");
    }

    /**
     * Receive comprehensive benchmark report and run verification checks.
     *
     * @param {XcelsiorApi.VerificationReportPayload} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.verification.apiAgentVerify({
     *         host_id: "host_id",
     *         report: {
     *             "key": "value"
     *         }
     *     })
     */
    public apiAgentVerify(
        request: XcelsiorApi.VerificationReportPayload,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiAgentVerify(request, requestOptions));
    }

    private async __apiAgentVerify(
        request: XcelsiorApi.VerificationReportPayload,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "agent/verify",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/verify");
    }
}
