// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as XcelsiorApi from "../../../index.js";

export declare namespace ReputationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Trust scoring, verification tiers (Bronze→Platinum), leaderboards.
 */
export class ReputationClient {
    protected readonly _options: NormalizedClientOptions<ReputationClient.Options>;

    constructor(options: ReputationClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Get reputation score and tier for a host or user.
     *
     * @param {XcelsiorApi.ApiGetReputationApiReputationEntityIdGetRequest} request
     * @param {ReputationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.reputation.apiGetReputation({
     *         entity_id: "entity_id"
     *     })
     */
    public apiGetReputation(
        request: XcelsiorApi.ApiGetReputationApiReputationEntityIdGetRequest,
        requestOptions?: ReputationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiGetReputation(request, requestOptions));
    }

    private async __apiGetReputation(
        request: XcelsiorApi.ApiGetReputationApiReputationEntityIdGetRequest,
        requestOptions?: ReputationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { entity_id: entityId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                `api/reputation/${core.url.encodePathParam(entityId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/reputation/{entity_id}");
    }

    /**
     * Top hosts/users by reputation score.
     *
     * @param {XcelsiorApi.ApiReputationLeaderboardApiReputationLeaderboardGetRequest} request
     * @param {ReputationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.reputation.apiReputationLeaderboard()
     */
    public apiReputationLeaderboard(
        request: XcelsiorApi.ApiReputationLeaderboardApiReputationLeaderboardGetRequest = {},
        requestOptions?: ReputationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiReputationLeaderboard(request, requestOptions));
    }

    private async __apiReputationLeaderboard(
        request: XcelsiorApi.ApiReputationLeaderboardApiReputationLeaderboardGetRequest = {},
        requestOptions?: ReputationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { entity_type: entityType, limit } = request;
        const _queryParams: Record<string, unknown> = {
            entity_type: entityType,
            limit,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "api/reputation/leaderboard",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/reputation/leaderboard");
    }

    /**
     * Get reputation event history.
     *
     * @param {XcelsiorApi.ApiReputationHistoryApiReputationEntityIdHistoryGetRequest} request
     * @param {ReputationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.reputation.apiReputationHistory({
     *         entity_id: "entity_id"
     *     })
     */
    public apiReputationHistory(
        request: XcelsiorApi.ApiReputationHistoryApiReputationEntityIdHistoryGetRequest,
        requestOptions?: ReputationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiReputationHistory(request, requestOptions));
    }

    private async __apiReputationHistory(
        request: XcelsiorApi.ApiReputationHistoryApiReputationEntityIdHistoryGetRequest,
        requestOptions?: ReputationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { entity_id: entityId, limit } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                `api/reputation/${core.url.encodePathParam(entityId)}/history`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/reputation/{entity_id}/history",
        );
    }

    /**
     * Grant a verification badge to a host/user.
     *
     * @param {XcelsiorApi.VerificationGrant} request
     * @param {ReputationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.reputation.apiGrantVerification({
     *         entity_id: "entity_id",
     *         verification_type: "verification_type"
     *     })
     */
    public apiGrantVerification(
        request: XcelsiorApi.VerificationGrant,
        requestOptions?: ReputationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiGrantVerification(request, requestOptions));
    }

    private async __apiGrantVerification(
        request: XcelsiorApi.VerificationGrant,
        requestOptions?: ReputationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                "api/reputation/verify",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/reputation/verify");
    }

    /**
     * Get a detailed breakdown of how a reputation score is calculated.
     *
     * Returns component scores: jobs completed, uptime bonus, penalties, decay.
     *
     * @param {XcelsiorApi.ApiReputationBreakdownApiReputationEntityIdBreakdownGetRequest} request
     * @param {ReputationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link XcelsiorApi.UnprocessableEntityError}
     *
     * @example
     *     await client.reputation.apiReputationBreakdown({
     *         entity_id: "entity_id"
     *     })
     */
    public apiReputationBreakdown(
        request: XcelsiorApi.ApiReputationBreakdownApiReputationEntityIdBreakdownGetRequest,
        requestOptions?: ReputationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__apiReputationBreakdown(request, requestOptions));
    }

    private async __apiReputationBreakdown(
        request: XcelsiorApi.ApiReputationBreakdownApiReputationEntityIdBreakdownGetRequest,
        requestOptions?: ReputationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { entity_id: entityId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.XcelsiorApiEnvironment.Production,
                `api/reputation/${core.url.encodePathParam(entityId)}/breakdown`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new XcelsiorApi.UnprocessableEntityError(
                        _response.error.body as XcelsiorApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.XcelsiorApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/reputation/{entity_id}/breakdown",
        );
    }
}
